body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    background-color: #f5f5f7;
    color: #333;
    margin: 0;
    padding: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    border-radius: 8px;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #007aff;
    font-weight: 500;
    padding: 10px 15px;
    display: block;
}

nav ul li a:hover {
    background-color: #f0f0f5;
    border-radius: 4px;
}

h1 {
    text-align: center;
    color: #333;
    font-weight: 600;
    margin: 20px 0;
}

form {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 0 auto;
}

form div {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: 500;
    color: #555;
}

input[type="text"],
input[type="file"],
input[type="date"],
textarea {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #d1d1d6;
    border-radius: 8px;
    font-size: 16px;
    color: #333;
    background-color: #f9f9f9;
}

input[type="file"] {
    padding: 5px;
}

textarea {
    resize: vertical;
    height: 100px;
}

button[type="submit"] {
    background-color: #007aff;
    color: #ffffff;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: block;
    width: 100%;
    font-weight: 600;
}

button[type="submit"]:hover {
    background-color: #005eb8;
}

button[type="submit"]:disabled {
    background-color: #a3c9ff;
    cursor: not-allowed;
}

img#previewImg {
    margin-top: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%; /* Ensure the image fits within the form */
    max-width: 100%;
}

#successMessage, #errorMessage {
    text-align: center;
    margin-top: 20px;
    font-size: 16px;
    font-weight: 500;
    color: green; /* You can change this color based on success or error */
}

#errorMessage {
    color: red;
}
